body {
    background: #bfeaff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.container{
    background: #bfeaff;
    width: 70%;
    margin: auto;
    padding: 20px;
    border: 2px outset white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 5px 10px rgba( 0, 0, 0, 0.9);
    
}
header{
    margin-top: 20px;
    width: 80%;
    border: 2px inset white;
    margin: auto;
    height: 30px;
    border-radius: 10px;  
    padding: 1px; 
    background: #aadfff; 
}
button{
    width: 49%;
    height: 29px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #bfeaff;
    transition: 1s;
    font-weight: bold;
    color: #0a1419f9;
}
button:hover{
    border: 2px outset #bfd5ff;
    background: #bffffff9;
}
span{
    line-height: 10px;
}
input{
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
    border: 1.5px inset white;
    border-radius: 20px;
    padding: 2px 10px;
    background: #aadfff;
}
#Log, #Sign{
    width: 85%;
    border: 1.5px outset white;
    height: 30px;
}
#logBox{
    display: none;
}
